<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>View Code</title>
    </head>
    <body>
      <a href="/">Go back home</a>

<h1>************************************ index.html *********************************</h1>
      {% load static %}
      <img src="{% static "index-1.jpg" %}" style="width:1300px;" alt="index1"/>
      <img src="{% static "index-2.jpg" %}" style="width:1300px;" alt="index2"/>
      <img src="{% static "index-3.jpg" %}" style="width:1300px;" alt="index3"/>
      <img src="{% static "index-4.jpg" %}" style="width:1300px;" alt="index4"/>
      <img src="{% static "index-5.jpg" %}" style="width:1300px;" alt="index5"/>
      <br>

<h1>************************************ admin.py *********************************</h1>
      {% load static %}
      <img src="{% static "admin.jpg" %}" style="width:1300px;" alt="index1"/>
      <br>

<h1>************************************ login.py *********************************</h1>
      {% load static %}
      <img src="{% static "login.jpg" %}" style="width:1300px;" alt="index1"/>
      <br>

<h1>********************************** logged_out.py *******************************</h1>
      {% load static %}
      <img src="{% static "logged_out.jpg" %}" style="width:1300px;" alt="index1"/>
      <br>

<h1>************************************ manage.py *********************************</h1>
      {% load static %}
      <img src="{% static "manage.jpg" %}" style="width:1300px;" alt="index1"/>
      <br>

<h1>************************************ models.py *********************************</h1>
      {% load static %}
      <img src="{% static "models.jpg" %}" style="width:1300px;" alt="index1"/>
      <br>

<h1>*********************************** settings.py *********************************</h1>
      {% load static %}
      <img src="{% static "settings.jpg" %}" style="width:1300px;" alt="index1"/>
      <br>

<h1>************************************ urls.py *********************************</h1>
      {% load static %}
      <img src="{% static "urls.jpg" %}" style="width:1300px;" alt="index1"/>
      <br>

<h1>************************************ views.py *********************************</h1>
      {% load static %}
      <img src="{% static "views.jpg" %}" style="width:1300px;" alt="index1"/>
      <br>

      <a href="/">Go back home</a>
    </body>
</html>